<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
<h1>Login</h1>
<form id="login-form">
    <label for="email">Email:</label>
    <input value="trabzonpower@gmail.com" name="email" type="email" id="email" required>
    <br>
    <label for="password">Password:</label>
    <input value="mehSan123." name="password" type="password" id="password" required>
    <br>
    <button type="submit">Login</button>
</form>
<div id="form-messages"></div>

<script>
    const form = {
        email: document.querySelector("#email"),
        password: document.querySelector("#password"),
        submit: document.querySelector("button[type='submit']"),
        messages: document.getElementById("form-messages")
    };

    form.submit.addEventListener("click", async (e) => {
        e.preventDefault();
        const loginUrl = "http://127.0.0.1:8000/user_actions/login"; // Replace with your actual API URL

        try {
            const response = await fetch(loginUrl, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    email: form.email.value,
                    password: form.password.value
                })
            });
            

            if (response.status === 200) {
                // Successful login, redirect to google.com
                window.location.href = "https://www.google.com";
            } else {
                // Display error message
                form.messages.innerHTML = "Invalid credentials. Please try again.";
            }
        } catch (error) {
            console.error("Error during login:", error);
            form.messages.innerHTML = "An error occurred. Please try again later.";
        }
    });
</script>
</body>
</html>
